
<%- include('header', { title: 'Find a Dog/Cat' }) %>

    <aside>
        <nav>
            <ul>
                       <li><a href="/home">Home page</a></li>
            <li><a href="/find-pet">Find a dog/cat</a></li>
            <li><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/giveaway">Have a pet to give away</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/createAccount">Create An Account</a></li>
            <li><a onclick="logout()">Logout</a></li>

            </ul>
        </nav>
    </aside>

    <main>
        <h1>Contact Us</h1>
        <p>If you have any questions or would like more information about our pet adoption services, please feel free to contact us.</p>
        
        <h2>Contact Information</h2>
        <p><strong>Name:</strong> Bhavya Mehta</p>
        <p><strong>Student ID:</strong> 40251474</p>
        <p><strong>Email:</strong> <a href="mailto:bhavyamehta6c@gmail.com">bhavyamehta6c@gmail.com</a></p>
        <!-- Add any additional contact information here -->
    </main>


<script src="js and css files/index.js"></script>
<%- include('footer') %>
