<%- include('header', { title: 'Find a Dog/Cat' }) %>
  
  <aside>
        <nav>
            <ul>
                       <li><a href="/home">Home page</a></li>
            <li><a href="/find-pet">Find a dog/cat</a></li>
            <li><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/giveaway">Have a pet to give away</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/createAccount">Create An Account</a></li>
            <li><a onclick="logout()">Logout</a></li>

            </ul>
        </nav>
    </aside>

    <main>
        <!-- HTML for Create Account Form -->
        <form id="createAccountForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required pattern="[A-Za-z0-9]+"
                title="Username can only contain letters and digits.">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{4,}"
                title="Password must be at least 4 characters long, include at least one letter and one digit.">

            <button type="submit">Create Account</button>
            <div id="message"></div>
        </form>
    </main>


    <script>

        document.getElementById('createAccountForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/create-account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('message').textContent = data.message;
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('message').textContent = 'Failed to create account.';
                });
        });

    </script>
<script src="js and css files/index.js"></script>
<%- include('footer') %>
