<footer>
    <p>Your information will not be sold or misused. We take your privacy seriously.</p>
    <p>Disclaimer: The information provided by pet owners is not verified by us. We are not responsible for any incorrect information.</p>
    <a href="/privacy">Privacy/Disclaimer Statement</a>
</footer>
<script src="/js/time.js"></script>
</body>
</html>
