<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/js and css files/styles.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/js and css files/logo.jpg" alt="Pet Adoption Service Logo">
            <span>Pet Adoption Service</span>
        </a>
        <div id="dateTime"></div>
    </header>
